* {
    -webkit-transition: all 0.5s;
}
body {
    text-align:center;
}
.box {
    position:relative;
    display:inline-block;
    width:300px;
    height:300px;
    margin:0 5px;
    /*@include -webkit-transition(0.5s);*/
    /*-webkit-transition: width 0.5s;
    -webkit-transition: height 0.5s;
    -webkit-transition: display 0.5s;
    -webkit-transition: margin 0.5s;*/
}
#box1 {
    background-color:"#900C3F;"
}
#box2 {
    background-color:"#C70039;"
}
#box3 {
    background-color:"#FF5733;"
}

@media (max-width:1100px) {
    .box {
        width:250px;
        height:250px;
    }
}
@media (max-width: 970px) {
    .box {
        width:200px;
        height:200px;
    }
}
@media (max-width: 850px) {
    .box {
        width:150px;
        height:150px;
    }
}
@media (max-width: 680px) {
    .box {
        width:150px;
        height:150px;
        margin-left: -77px;
        margin-right: -77px;
        left: 0px;
    }
    #box1 {
        top:10px;
    }
    #box2 {
        top:170px;
    }
    #box3 {
        top:330px;
    }
}