* {
  box-sizing: border-box;
}

body{
    margin:30px 30px 30px 200px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color:red;
    color:darkgreen;
}

h1 {
   font-size: 22px;   
   transform:rotate(90deg);
   color:whitesmoke;
   transform-origin:-10%;
   position:absolute;
   margin:-180px 0px 0px 0px;
  
}  

p{
  font-size: 1.5em;
  transform: rotate(5deg);
  color: black;
  position: relative;
  font-weight: bold;
  transform-origin: 10%;
  width:28em
}

.intro{
   font-size:1em;
   font-weight: bold;
   color:black;
   position:relative;
   transform: rotate(5deg);
   transform-origin: 10%;
   width: 30em;
}

h1 span{
        font-size: 6em;    
}

.history_title{
              font-size: 1.5em;
              transform: rotate(5deg);
              color: white;
              position: absolute;
              font-weight: bold;
              transform-origin:-10%;
              width:15em;
              margin:-350px -50px 500px 600px;
}

.history{
         font-size:1em;
         font-weight: bold;
         color:white;
         position:absolute;
         transform: rotate(5deg);
         transform-origin: 10%;
         width: 30em;
         margin: -300px -50px 0px 530px;
}

.bark{ 
      font-size:2em;
      font-weight: bold;
      color:black;
      position:absolute;
      transform: rotate(0deg);
      width:em;
      margin:10% 30% 0% 23%          
  }