
* {
  box-sizing: border-box;
  margin-bottom: 1em;
}

body {
    font-size: 150%;
    background: white;
    color: black;
}

header h1 {
  margin: 0;
  font-size: .8em;
}

main {
  max-width: 500px;
  margin: 9% auto;
}
/* 
  some helpful thinking examples: http://formvalidation.io/examples/
*/

/*
  Nice logins:
  https://bank.simple.com/signin
  https://www.paypal.com/signin/?country.x=US&locale.x=en_US
  https://thenounproject.com/accounts/login/
  https://icloud.com/
*/
input {
  font-size: 1em;
  padding: 1em 1em 1em 2.5em;
  border: 1px solid gray;
  border-radius: .25em;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  width: 100%;
}

label, input {
  display: block;
}

.input-group {
  position: relative;
}

.input-group label {
  position: absolute;
  top: 1em;
  left: 1em;
  bottom: 1em;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 1em;
}

.input-group label::before {
  content:"\f003";
  display: inline-block;
  font: normal normal normal 1em/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

.alert {
  font-size: 90%;
  line-height: 1.618;
  border-left: .2em solid;
  padding-left: 1em;
}

.small { font-size: 66%; }