/*setup the flip-flop wrapper */
.flip-flop {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

/* wow, this is actually pretty cool/smart */
/* this is all that should need to be tweaked/edited/add too */
/* if you need a new "size" of image holder, create a new class matching the method illustrated below. */
/* padding-bottom: calc(100% * HEIGHT / WIDTH); */
/* use HTML that looks like this:

    <div class="flip-flop [YOUR RATIO CLASS HERE]">
       <img class="initial"  src="images/trial1-1.jpg" />
       <img class="hovering" src="images/trial1-2.jpg" />
    </div>
*/

.flip-flop.square {
  padding-bottom: calc(100% * 1 / 1); /** height/width ratio of image as a percentage **/
}

.flip-flop.threefour {
  padding-bottom:  calc(100% * 3 / 4); /** height/width ratio of image as a percentage **/
}

.flip-flop.twothree {
  padding-bottom:  calc(100% * 3 / 2); /** height/width ratio of image as a percentage **/
}
/* end tweaking area */

/* setup the flip-flopping images */
.flip-flop img {
  position: absolute;
  width: 100%;
  max-width: 100%;
  height: auto;
  z-index: 1
}

.flip-flop img.hovering,
.flip-flop img:nth-child(2),
.flip-flop img:last-of-type {
  z-index: 0
}
.flip-flop:hover img.initial,
.flip-flop:hover img:nth-child(1),
.flip-flop:hover img:first-of-type {
  display: none;
}
