---
layout : default
---

<div class="row course-header col-lg-12">
  <h1>{{ page.title }}</h1>
  <h2>{{ page.sub-title }}</h2>
  <div class="">
    <p>{{ page.sec1 }}</p>
    <p>{{ page.sec2 }}</p>
    <p>{{ page.sec3 }}</p>
    <p>{{ page.room }}</p>
  </div>
</div>

<div class="row">
  <div class="col-lg-3">
    <p>This will be the "TOC" for the syllabus...</p>
  </div>
  <div class="col-lg-9">
    <article class="content" class="syllabus">
      
      <!-- ADA statement -->
      {{# courses.find_by_name.ada }}
      <section id="ada" class="">
        <h3>{{ title }}</h3>
        {{{ content }}}
      </section>
      {{/ courses.find_by_name.ada }}
      
      <!-- Health and Safety statement -->
      {{# courses.find_by_name.health-safety }}
      <section id="health" class="">
        <h3>{{ title }}</h3>
        {{{ content }}}
      </section>
      {{/ courses.find_by_name.health-safety }}

      <!-- Plagarism statement -->
      {{# courses.find_by_name.plagiarism }}
      <section id="health" class="">
        <h3>{{ title }}</h3>
        {{{ content }}}
      </section>
      {{/ courses.find_by_name.plagiarism }}

    </article>
  </div>
</div>

