---
layout : default
---

<div class="row course-header col-lg-12">
  <h1>{{ title }}</h1>
  <h2>{{ sub-title }}</h2>
  <div class="row">
    <p class="col-md-3">{{ room }}</p>
    <p class="col-md-3">{{ sec1 }}</p>
    <p class="col-md-3">{{ sec2 }}</p>
    <p class="col-md-3">{{ sec3 }}</p>
  </div>
</div>

<div class="row">
  <article class="content calendar">
    
    <!-- Wk1 -->
    {{# courses.find_by_name.gd3/calendar/wk1 }}
    <section class="">
      <h3>{{ title }}</h3>
      <div class="row">
        <p class="col-md-4">{{ sec1 }}</p>
        <p class="col-md-4">{{ sec2 }}</p>
        <p class="col-md-4">{{ sec3 }}</p>
      </div>

      {{# outline }}
        <ul>
          <li> {{ . }} </li>
        </ul>
      {{/ outline }}
      
    </section>
    {{/ courses.find_by_name.gd3/calendar/wk1 }}
    
    <!-- Wk2 -->
    {{# courses.find_by_name.gd3/calendar/wk2 }}
    <section class="">
      <h3>{{ title }}</h3>
      <div class="row">
        <p class="col-md-4">{{ sec1 }}</p>
        <p class="col-md-4">{{ sec2 }}</p>
        <p class="col-md-4">{{ sec3 }}</p>
      </div>

      {{# outline }}
        <ul>
          <li> {{ . }} </li>
        </ul>
      {{/ outline }}
      
    </section>
    {{/ courses.find_by_name.gd3/calendar/wk2 }}
    
    <!-- Wk3 -->
    {{# courses.find_by_name.gd3/calendar/wk3 }}
    <section class="">
      <h3>{{ title }}</h3>
      <div class="row">
        <p class="col-md-4">{{ sec1 }}</p>
        <p class="col-md-4">{{ sec2 }}</p>
        <p class="col-md-4">{{ sec3 }}</p>
      </div>

      {{# outline }}
        <ul>
          <li> {{ . }} </li>
        </ul>
      {{/ outline }}
      
    </section>
    {{/ courses.find_by_name.gd3/calendar/wk3 }}

    <!-- Wk4 -->
    {{# courses.find_by_name.gd3/calendar/wk4 }}
    <section class="">
      <h3>{{ title }}</h3>
      <div class="row">
        <p class="col-md-4">{{ sec1 }}</p>
        <p class="col-md-4">{{ sec2 }}</p>
        <p class="col-md-4">{{ sec3 }}</p>
      </div>

      {{# outline }}
        <ul>
          <li> {{ . }} </li>
        </ul>
      {{/ outline }}
      
    </section>
    {{/ courses.find_by_name.gd3/calendar/wk4 }}
    
    <!-- Wk5 -->
    {{# courses.find_by_name.gd3/calendar/wk5 }}
    <section class="">
      <h3>{{ title }}</h3>
      <div class="row">
        <p class="col-md-4">{{ sec1 }}</p>
        <p class="col-md-4">{{ sec2 }}</p>
        <p class="col-md-4">{{ sec3 }}</p>
      </div>

      {{# outline }}
        <ul>
          <li> {{ . }} </li>
        </ul>
      {{/ outline }}
      
    </section>
    {{/ courses.find_by_name.gd3/calendar/wk5 }}

    <!-- Wk6 -->
    {{# courses.find_by_name.gd3/calendar/wk6 }}
    <section class="">
      <h3>{{ title }}</h3>
      <div class="row">
        <p class="col-md-4">{{ sec1 }}</p>
        <p class="col-md-4">{{ sec2 }}</p>
        <p class="col-md-4">{{ sec3 }}</p>
      </div>

      {{# outline }}
        <ul>
          <li> {{ . }} </li>
        </ul>
      {{/ outline }}
      
    </section>
    {{/ courses.find_by_name.gd3/calendar/wk6 }}
    
    <!-- Wk7 -->
    {{# courses.find_by_name.gd3/calendar/wk7 }}
    <section class="">
      <h3>{{ title }}</h3>
      <div class="row">
        <p class="col-md-4">{{ sec1 }}</p>
        <p class="col-md-4">{{ sec2 }}</p>
        <p class="col-md-4">{{ sec3 }}</p>
      </div>

      {{# outline }}
        <ul>
          <li> {{ . }} </li>
        </ul>
      {{/ outline }}
      
    </section>
    {{/ courses.find_by_name.gd3/calendar/wk7 }}
    
    <!-- Wk8 -->
    {{# courses.find_by_name.gd3/calendar/wk8 }}
    <section class="">
      <h3>{{ title }}</h3>
      <div class="row">
        <p class="col-md-4">{{ sec1 }}</p>
        <p class="col-md-4">{{ sec2 }}</p>
        <p class="col-md-4">{{ sec3 }}</p>
      </div>

      {{# outline }}
        <ul>
          <li> {{ . }} </li>
        </ul>
      {{/ outline }}
      
    </section>
    {{/ courses.find_by_name.gd3/calendar/wk8 }}
    
    <!-- Wk9 -->
    {{# courses.find_by_name.gd3/calendar/wk9 }}
    <section class="">
      <h3>{{ title }}</h3>
      <div class="row">
        <p class="col-md-4">{{ sec1 }}</p>
        <p class="col-md-4">{{ sec2 }}</p>
        <p class="col-md-4">{{ sec3 }}</p>
      </div>

      {{# outline }}
        <ul>
          <li> {{ . }} </li>
        </ul>
      {{/ outline }}
      
    </section>
    {{/ courses.find_by_name.gd3/calendar/wk9 }}
    
    <!-- Wk10 -->
    {{# courses.find_by_name.gd3/calendar/wk10 }}
    <section class="">
      <h3>{{ title }}</h3>
      <div class="row">
        <p class="col-md-4">{{ sec1 }}</p>
        <p class="col-md-4">{{ sec2 }}</p>
        <p class="col-md-4">{{ sec3 }}</p>
      </div>

      {{# outline }}
        <ul>
          <li> {{ . }} </li>
        </ul>
      {{/ outline }}
      
    </section>
    {{/ courses.find_by_name.gd3/calendar/wk10 }}
    
    <!-- Wk11 -->
    {{# courses.find_by_name.gd3/calendar/wk11 }}
    <section class="">
      <h3>{{ title }}</h3>
      <div class="row">
        <p class="col-md-4">{{ sec1 }}</p>
        <p class="col-md-4">{{ sec2 }}</p>
        <p class="col-md-4">{{ sec3 }}</p>
      </div>

      {{# outline }}
        <ul>
          <li> {{ . }} </li>
        </ul>
      {{/ outline }}
      
    </section>
    {{/ courses.find_by_name.gd3/calendar/wk11 }}
    
    <!-- Wk12 -->
    {{# courses.find_by_name.gd3/calendar/wk12 }}
    <section class="">
      <h3>{{ title }}</h3>
      <div class="row">
        <p class="col-md-4">{{ sec1 }}</p>
        <p class="col-md-4">{{ sec2 }}</p>
        <p class="col-md-4">{{ sec3 }}</p>
      </div>

      {{# outline }}
        <ul>
          <li> {{ . }} </li>
        </ul>
      {{/ outline }}
      
    </section>
    {{/ courses.find_by_name.gd3/calendar/wk12 }}

    <!-- Wk13 -->
    {{# courses.find_by_name.gd3/calendar/wk13 }}
    <section class="">
      <h3>{{ title }}</h3>
      <div class="row">
        <p class="col-md-4">{{ sec1 }}</p>
        <p class="col-md-4">{{ sec2 }}</p>
        <p class="col-md-4">{{ sec3 }}</p>
      </div>

      {{# outline }}
        <ul>
          <li> {{ . }} </li>
        </ul>
      {{/ outline }}
      
    </section>
    {{/ courses.find_by_name.gd3/calendar/wk13 }}

    <!-- Wk14 -->
    {{# courses.find_by_name.gd3/calendar/wk14 }}
    <section class="">
      <h3>{{ title }}</h3>
      <div class="row">
        <p class="col-md-4">{{ sec1 }}</p>
        <p class="col-md-4">{{ sec2 }}</p>
        <p class="col-md-4">{{ sec3 }}</p>
      </div>

      {{# outline }}
        <ul>
          <li> {{ . }} </li>
        </ul>
      {{/ outline }}
      
    </section>
    {{/ courses.find_by_name.gd3/calendar/wk14 }}

    <!-- Wk15 -->
    {{# courses.find_by_name.gd3/calendar/wk15 }}
    <section class="">
      <h3>{{ title }}</h3>
      <div class="row">
        <p class="col-md-4">{{ sec1 }}</p>
        <p class="col-md-4">{{ sec2 }}</p>
        <p class="col-md-4">{{ sec3 }}</p>
      </div>

      {{# outline }}
        <ul>
          <li> {{ . }} </li>
        </ul>
      {{/ outline }}
      
    </section>
    {{/ courses.find_by_name.gd3/calendar/wk15 }}

    <!-- Wk16 -->
    {{# courses.find_by_name.gd3/calendar/wk16 }}
    <section class="">
      <h3>{{ title }}</h3>
      <div class="row">
        <p class="col-md-4">{{ sec1 }}</p>
        <p class="col-md-4">{{ sec2 }}</p>
        <p class="col-md-4">{{ sec3 }}</p>
      </div>

      {{# outline }}
        <ul>
          <li> {{ . }} </li>
        </ul>
      {{/ outline }}
      
    </section>
    {{/ courses.find_by_name.gd3/calendar/wk16 }}


  </article>
</div>

