.fixed {
  position: fixed;
  top:    0;
  right:  0;
  bottom: 0;
  left:   0;
}

h1 {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 3vw;
  margin: 0;
  position: fixed;
  left: 50%;
  top:50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.one   { z-index:  10; }
.two   { z-index:  20; }
.three { z-index:  30; }
.four  { z-index:  40; }
.five  { z-index:  50; }
.six   { z-index:  60; }
.seven { z-index:  70; }
.eight { z-index:  80; }
.nine  { z-index:  90; }
.ten   { z-index: 100; }

.transparency.ten-percent      { opacity: .1; }
.transparency.twenty-percent   { opacity: .2; }
.transparency.thirty-percent   { opacity: .3; }
.transparency.fourty-percent   { opacity: .4; }
.transparency.fifty-percent    { opacity: .5; }
.transparency.sixty-percent    { opacity: .6; }
.transparency.seventy-percent  { opacity: .7; }
.transparency.eighty-percent   { opacity: .8; }
.transparency.ninety-percent   { opacity: .9; }

/** Background images and other background properties **/
/** if you need some images: https://unsplash.it/images or http://www.unsplash.com **/
/** for help with the background CSS properties: http://www.w3schools.com/css/css_background.asp **/

.one {
  background-image: url('Monkey face.png');
  background-repeat: repeat;
  background-position: center center;
  background-size: .5;
}

.two {
  background-image: url('animated.gif');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;;
  opacity: .75
}

.three {
  background-image: url('http://vignette2.wikia.nocookie.net/glee/images/0/08/Theater_curtains_open_border_pa_500_clr2.gif/revision/latest?cb=20140614232756');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.four {
  background-image: url('http://vignette1.wikia.nocookie.net/aceattorney/images/f/f9/J_Guard_Butz_Thumbs_Up_2.gif/revision/latest?cb=20130625183045');
  background-repeat: no-repeat;
  background-position: left bottom;
  opacity: .9
}

.five {
  background-image: url('http://40.media.tumblr.com/68dd564a22ee54cb27ee0ec6f0cb7a16/tumblr_nlsb9rE6uo1tfz0fyo1_250.png');
  background-repeat: no-repeat;
  background-position: center,bottom;
  opacity: .3
}

.six {
  background-image: url('');
  background-repeat: no-repeat;
  background-position: center center;
}
