           body {
               margin: auto;
               background-color: #ebe6e6;
           }
            div {
                width: auto;
                margin-left:32px;
                padding: 48px;
                font-family: sans-serif;
                float: left;
            }
        h1 {
            color: #78e1aa;
            font-family: sans-serif;
            font-size: 48px;
            width: 50px;
            font-stretch: condensed;
        }
        h2 {
            color: gray;
            font-style: italic;
            font-kerning: auto;
        }
            ul {
                list-style: none;
                float: left;
                font-family: sans-serif;
                font-size: 18px;
                clear: left;
            }
            p {
                color: darkgray;
                font-family: sans-serif;
                width: 600px;
                float: left;

            }
            img {
                padding: 48px;
                float: right;
                margin-right: 32px;
            }
            h6 {
                color: gray;
                clear: both;
            }
            ul {
                color: black;
            }
