/** ******************************************** **/
/** ******************************************** **/
/** Design Students: Please Don't Edit this File **/
/** ******************************************** **/
/** ******************************************** **/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.p1{
    color: darkgray
        
}

.wrapper {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

/** setup! **/
.block {
  float: left;
  position: relative;
  width: 100%;
}

.block::after {
  padding-top: 100%;
  display: block;
  content: '';
}

.block img {
  width: 100%;
  height: auto;
}

.three-quarter.block {
  width: 75%;
}

.two-third.block {
  width: calc(100% / 3 * 2);
}

.half.block {
  width: 50%;
}

.third.block {
  width: calc(100% / 3);
    background-repeat: no-repeat
}

.quarter.block {
  width: 25%;
 background-repeat: no-repeat
}

h1, h2, h3, h4, h5, h6,p {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
  font-size: 1vw;
}
.p2{ position: absolute;
  left: 70%;
  top: 80%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
  font-size: 1vw;
  color: darkgray
    
}
.p3{position: absolute;
  left: 30%;
  top: 20%;
 text-align: center;
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
  font-size: 1vw;
  color: darkgray
      
}
.p4{position: absolute;
  left: 70%;
  top: 20%;
 text-align: center;
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
  font-size: 1vw;
  color: darkgray
      
}
.p5{position: absolute;
  left: 20%;
  top: 80%;
 text-align: center;
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
  font-size: 1vw;
  color: darkgray
      
}
.p6
{position: absolute;
  left: 90%;
  top: 70%;
 text-align: center;
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
  font-size: 1vw;
  color: darkgray
      
}
.p7
{position: absolute;
  left: 50%;
  top: 55%;
 text-align: center;
  font-family: 'Inconsolata', monospace;
  font-weight: bold;
  font-size: 3vw;
  color: darkgray
      
}
.fixed {
  position: fixed;
}

.logo {
  top: 50%;
  left: 50%;
  z-index:100000;
  transform: translate(-50%,-50%);
      width: 10%;
  max-width: 200px;
}
