
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: helvetica, arial, sans-serif;
    padding-bottom: 60px;
    background: rgba(40,160,80,.1);
    color: darkgreen;
}

h1 {
  color: forestgreen;
  font-size: 3em;
  text-shadow: 0px 1px 3px rgba(144,238,144,1);
  margin-top: .75em;
  margin-bottom: .125em;
}

header {
    position: fixed;
    bottom: 0;
    left:0;
    right:0;
    z-index: 100;
}

header ul {
    background: lightgreen;
    display: none;
    list-style: none;
    margin: 0;
    padding: 0 0 50px 0;
    border-top:1px solid darkgreen;
    position: absolute;
    bottom: 0;
    width: 100%;

}

header ul li {
    border-bottom: 1px solid darkgreen;
}

header ul li a {
    display: block;
    color: darkgreen;
    padding: 5px;
    text-decoration: none;
    transition: all 500ms;
}

header ul li a:hover {
    background: darkgreen;
    color: lightgreen;
    text-decoration: none;
}

header button.toggle {
    background: lightgreen;
    border: 1px solid darkgreen;
    border-radius: 2px;
    box-shadow: 0 3px 3px rgba(0,0,0,.2);
    display: block;
    height: 40px;
    margin: 5px;
    padding: 5px;
    width: 60px;
    /**/
    position: relative;
    z-index: 200;
}

header button.toggle span {
    background: darkgreen;
    border-radius: 3px;
    display: block;
    height: 4px;
    margin: 3px;
}

header button.toggle:active {
    background: forestgreen;
    box-shadow: inset 0 3px 3px rgba(0,0,0,.2);
}

header button.toggle:active span {
    background: lightgreen;
}

article,
footer {
    padding: 10px;
}

article {
    border-bottom: 1px solid darkgreen;
    padding-bottom: 25px;
    margin-bottom: 0;
}

article p,
footer small {
  display: block;
  max-width: 50em;
}

ul.imagelist {
    list-style: none;
    padding: 0 5px;
}

ul.imagelist::after {
    content: '';
    display: table;
    clear: both;
}

ul.imagelist li.thumb {
    width: 100%;
    float: left;
    padding:5px;
    overflow: hidden;
}

li.thumb img {
    width: 100%;
}

footer {
  border-top: 1px solid darkgreen;
  padding-top: 25px;
  margin-top: 25px;
}

/* 480px and larger */
@media (min-width: 480px) {
    ul.imagelist li.thumb {
        width: calc(100% / 2);
    }
}
/* end 480px and larger */

/* 700px and larger */
@media (min-width: 700px) {
    ul.imagelist li.thumb {
        width: calc(100% / 3);
        overflow: hidden;
        position: relative;
    }
    li.thumb .caption {
        opacity: 0;
        background: rgba(100,120,140,.75);
        color: white;
        position: absolute;
        top:5px;
        left:5px;
        bottom:5px;
        width: 66%;
        padding: 5px;
        transition: all 400ms;
    }

    li.thumb:hover .caption {
        opacity: 1;
    }
}
/* end 700px and larger */

@media (min-width: 768px) {
    header {
        background: lightgreen;
    }

    header ul {
        display: block;
        position: static;
    }

    header button.toggle { display: none; }

    header {
        top:0;
        bottom:initial;
        border: none;
        border-bottom: 1px solid darkgreen;
    }

    header nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        border: none;
    }

    header nav ul li {
        float: left;
        border: none;
    }

    header nav ul li a {
        padding: 15px;
    }

    ul.imagelist {
        padding-top: 10px;
        margin: 0;
    }

    article {
        padding-top: 50px;
    }

}

/* 960px and larger */
@media (min-width: 960px) {
    ul.imagelist li.thumb {
        width: calc(100% / 4);
    }
}
/* end 960px and larger */

/* 1200px and larger */
@media (min-width: 1200px) {
    ul.imagelist li.thumb {
        width: calc(100% / 5);
    }
}
/* end 1200px and larger */

/* 1500px and larger */
@media (min-width: 1500px) {
    ul.imagelist li.thumb {
        width: calc(100% / 6);
    }
}
/* end 1500px and larger */
