*{
    box-sizing: border-box;
}

@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Pacifico);
@import url(http://fonts.googleapis.com/css?family=Arimo);

h1 {
    font-family: 'pacifico', sans-serif;
    font-size: 50pt;
    text-align: center;
    width: 1074px;
    height: 68px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    top:-20;
    color: rgba(0,0,0,1)
}

p.boxtop {
    font-family: 'pacifico', sans-serif;
    font-size: 60pt;
    font-weight: 300;
    padding-right: 20;
    position: relative;
    margin: auto;
    text-align: right;
    bottom: -67px;
    color: black;    
}

p.boxtop {
    -webkit-animation: switchone 5s 10 ease-in-out;
    -moz-animation: switchone 5s 10 ease-in-out;
    animation: switchone 5s 10 ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -moz-animation-direction: alternate;
    animation-direction: alternate;
}

@-webkit-keyframes switchone {
    0%{
        opacity: 1;
    }
    
    100% {
        opacity: 0;
    }
}

p.boxbottom {
    font-family: 'pacifico', sans-serif;
    font-size: 60pt;
    font-weight: 300;
    padding-right: 20;
    position: relative;
    margin: 0;
    text-align: right;
    bottom:72px;
    color: black;
}

p.boxbottom {
    -webkit-animation: switchtwo 5s 10 ease-in-out;
    -moz-animation: switchtwo 5s 10 ease-in-out;
    animation: switchtwo 5s 10 ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -moz-animation-direction: alternate;
    animation-direction: alternate;
}

@-webkit-keyframes switchtwo {
    0%{
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}


h2 {
    font-family: 'pacifico', sans-serif;
    font-size: 4em;
    position: absolute;
    top: 100px;
    padding-left: 150px;
    padding-right: 20px;
    padding-bottom: 10px;
    margin: 0;
    color: white;
}

p.textpopup {
    position: absolute;
    bottom: 0;
    color: white;
    font-family: 'Arimo', sans-serif;
    padding-left: 150px;
    padding-right: 30px;
    padding-bottom: 40px;
    margin: 0;
    font-size: 1em;
}

#wrapper {
    width: 1074px;
    height: 700px;
    margin: 0 auto;
}

body {
    padding: 0;
    margin: 0;
}

header{
    width: 1074px;
    height: 68px;
    margin: 0 auto;
    padding: 0;
    background: #FFDD00;
}

.box {
    width: 179px;
    height: 175px;
    float: left;
    padding: 0;
}

img {
width: 100%;
}

div.box img:first-child {
    display: block;
}

div.box img:last-child {
    display: none;
}

div.box:hover img:first-child {
    display: none;
}

div.box:hover img:last-child {
    display: block;
}

.lightblue {
    background: #1ABCDC;
}

.midyellow {
    background: #D3BD2A;
}

.orange {
    background: #F26122;
}

.green {
    background: #5EB546;
}

.purple {
    background: #B21E8E;
}

.white {
    background: white;
}

.red {
    background: #E31E36;
}

.darkyellow {
    background: #CD912D;
}

.midblue {
    background: #008FB5;
}

.blue {
    background: #4D3E98;
}

.yellow {
    background: #FFDD00;
}

.popup {
    display: none;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: 10;
    background:rgba(255,255,255,0.7);
}

.transback{
    width: 1400px;
    height: 175px;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%,-50%);
    background:#1ABCDC;
}

.transback1{
    width: 700px;
    height: 600px;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%,-50%);
    background:#D3BD2A;
}

.transback2{
    width: 700px;
    height: 600px;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%,-50%);
    background:#B21E8E;
}

.transback3{
    width: 700px;
    height: 600px;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%,-50%);
    background:#5EB546;
}

img.transback3{
    height: auto;
}

.transback4{
    width: 700px;
    height: 600px;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%,-50%);
    background:#E31E36;
}

.transback5{
    width: 700px;
    height: 600px;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%,-50%);
    background:#F26122;
}


.transback6{
    width: 700px;
    height: 600px;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%,-50%);
    background:#5EB546;
}

.transback7{
    width: 700px;
    height: 600px;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%,-50%);
    background:#B21E8E;
}

.transback8{
    width: 700px;
    height: 600px;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%,-50%);
    background:#1ABCDC;
}

.transback9{
    width: 700px;
    height: 600px;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%,-50%);
    background:#CD912D;
}

.transback10{
    width: 700px;
    height: 600px;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%,-50%);
    background:#E31E36;
}

.transback11{
    width: 700px;
    height: 600px;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%,-50%);
    background:#CD912D;
}

.transback12{
    width: 700px;
    height: 600px;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%,-50%);
    background:#E31E36;
}

.transback13{
    width: 700px;
    height: 600px;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%,-50%);
    background:white;
}

.close img {
    width: 15px;
    height: 15px;
    position: fixed;
    top: 0;
    right: 0;
    margin: 5px;
    z-index: 1000000;
}

#slideshow {
    width: 1400px;
    height: 175px;
    margin: auto;
    padding: 0;
    position: relative;
    overflow: hidden;
    float: left;
    z-index: 1000;
}

#slideshowWindow {
    width: 700px;
    height: 175px;
    margin: auto;
    padding: 0;
    position: relative;
    overflow: hidden;
    float: left;
    z-index: 10000;
}


#slideshow #slideshowWindow .slide {
    width: 700px;
    height: 175px;
    margin: 0;
    padding: 0;
    position: relative;
    float: left;
}

.effect2{
    position: relative;
    height: 600px;
    width: 700px;
    margin: 0 auto;
}

.effect2 img {
    height: 600px;
    width: 700px;
    position: absolute;
    left: 0;
    -webkit-transition: opacity 3s ease-in-out;
    -moz-transition: opacity 3s ease-in-out;
    -o-transition: opacity 3s ease-in-out;
    transition: opacity 3s ease-in-out;
}

.effect2 img.top:hover {
    opacity: 0;
}

img.third {
    height: 600px;
}

.pulse {
    -webkit-animation: pulse 1s 10 ease-in-out;
    -moz-animation: pulse 1s 10 ease-in-out;
    animation: pulse 1s 10 ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -moz-animation-direction: alternate;
    animation-direction: alternate;
}

@-webkit-keyframes pulse {
    0%{
        opacity: 1;
    }
    
    100% {
        opacity: 0;
    }
}

