---
layout : default
---

<div class="row course-header">
  <h1 class="col-lg-12">{{ page.title }}</h1>
  <h2 class="col-lg-12">{{ page.sub-title }}</h2>
  <div class="col-lg-12 add-top border-top">
    <div class="row">
      <p class="col-md-3">Fall 2013, {{ page.room }}</p>
      <p class="col-md-3">{{ page.sec1 }}</p>
      <p class="col-md-3">{{ page.sec2 }}</p>
      <p class="col-md-3">{{ page.sec3 }}</p>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-md-2 col-lg-2">
<!--
    <nav id="scrollspy-nav" data-spy="affix" data-offset-top="206">
      <ul class="sidenav nav">
        <li><a href="#wk01" class="scroll">Week 1 Intro</a></li>
        <li><a href="#wk02" class="scroll">Week 2</a></li>
        <li><a href="#wk03" class="scroll">Week 3</a></li>
        <li><a href="#wk04" class="scroll">Week 4</a></li>
        <li><a href="#wk05" class="scroll">Week 5</a></li>
        <li><a href="#wk06" class="scroll">Week 6</a></li>
        <li><a href="#wk07" class="scroll">Week 7</a></li>
        <li><a href="#wk08" class="scroll">Week 8</a></li>
        <li><a href="#wk09" class="scroll">Week 9</a></li>
        <li><a href="#wk10" class="scroll">Week 10</a></li>
        <li><a href="#wk11" class="scroll">Week 11</a></li>
        <li><a href="#wk12" class="scroll">Week 12</a></li>
        <li><a href="#wk13" class="scroll">Week 13 ThxGvg</a></li>
        <li><a href="#wk14" class="scroll">Week 14</a></li>
        <li><a href="#wk15" class="scroll">Week 15</a></li>
        <li><a href="#wk16" class="scroll">Week 16 Finale</a></li>
      </ul>
    </nav>
-->
  </div>
  
  <div class="col-12">
    <article class="content calendar">
      
      <!-- Wk1 -->
      {{# courses.find_by_name.gd3/calendar/wk1 }}
      <section class="week past" id="wk01">
        <h2>{{ title }}</h2>
        <div class="row">
          <p class="col-md-4">{{ sec1 }}</p>
          <p class="col-md-4">{{ sec2 }}</p>
          <p class="col-md-4">{{ sec3 }}</p>
        </div>
  
        <div class="row">
          <ul class=" col-xs-12 col-sm-6 col-md-4 col-lg-3 column-list ">
            <h3>Outline</h3>
            {{# outline }}
              <li> {{ . }} </li>
            {{/ outline }}
          </ul>
    
          <div class=" col-xs-12 col-sm-6 col-md-4 col-lg-3 column-list ">
            <h3>Examples</h3>
            {{# courses.find_by_name.gd3/calendar/wk1examples }}
              {{{ content }}}
            {{/ courses.find_by_name.gd3/calendar/wk1examples }}
          </div>
  
          <ul class=" col-xs-12 col-sm-6 col-md-4 col-lg-3 column-list ">
            <h3>Reading</h3>
            {{# reading }}
              <li> {{ . }} </li>
            {{/ reading }}
          </ul>
    
          <ul class=" col-xs-12 col-sm-6 col-md-4 col-lg-3 column-list ">
            <h3>Homework</h3>
            {{# homework }}
              <li> {{ . }} </li>
            {{/ homework }}
          </ul>
        </div>
        
      </section>
      {{/ courses.find_by_name.gd3/calendar/wk1 }}
      
      <!-- Wk2 -->
      {{# courses.find_by_name.gd3/calendar/wk2 }}
      <section class="week past" id="wk02">
        <h2>{{ title }}</h2>
        <div class="row">
          <p class="col-md-4">{{ sec1 }}</p>
          <p class="col-md-4">{{ sec2 }}</p>
          <p class="col-md-4">{{ sec3 }}</p>
        </div>
  
        <div class="row">
          <ul class=" col-xs-12 col-sm-6 col-md-4 col-lg-3 column-list ">
            <h3>Outline</h3>
            {{# outline }}
              <li> {{ . }} </li>
            {{/ outline }}
          </ul>
    
          <div class=" col-xs-12 col-sm-6 col-md-4 col-lg-3 column-list ">
            <h3>Examples</h3>
            <!-- Student Links from Homework -->
            {{# courses.find_by_name.gd3/calendar/wk2studentlinks }}
              {{{ content }}}
            {{/ courses.find_by_name.gd3/calendar/wk2studentlinks }}
          </div>
  
          <ul class=" col-xs-12 col-sm-6 col-md-4 col-lg-3 column-list ">
            <h3>Reading</h3>
            {{# reading }}
              <li> {{ . }} </li>
            {{/ reading }}
              <li><a href="{{urls.media}}/readingresponses/rr01-understandingcomics-ch1-ch3.pdf">Reading Response</a></li>
          </ul>
    
          <ul class=" col-xs-12 col-sm-6 col-md-4 col-lg-3 column-list ">
            <h3>Homework</h3>
            {{# homework }}
              <li> {{ . }} </li>
            {{/ homework }}
              <li><a href="{{urls.media}}/readingresponses/rr01-understandingcomics-ch1-ch3.pdf">Reading Response</a></li>
          </ul>
        </div>
        
      </section>
      {{/ courses.find_by_name.gd3/calendar/wk2 }}
      
      <!-- Wk3 -->
      {{# courses.find_by_name.gd3/calendar/wk3 }}
      <section class="week past" id="wk03">
        <h2>{{ title }}</h2>
        <div class="row">
          <p class="col-md-4">{{ sec1 }}</p>
          <p class="col-md-4">{{ sec2 }}</p>
          <p class="col-md-4">{{ sec3 }}</p>
        </div>
  
        <div class="row">
          <ul class=" col-xs-12 col-sm-6 col-md-4 col-lg-3 column-list ">
            <h3>Outline</h3>
            {{# outline }}
              <li> {{ . }} </li>
            {{/ outline }}
          </ul>
        </div>
      </section>
      {{/ courses.find_by_name.gd3/calendar/wk3 }}
  
      <!-- Wk4 -->
      {{# courses.find_by_name.gd3/calendar/wk4 }}
      <section class="week" id="wk04">
        <h2>{{ title }}</h2>
        <div class="row">
          <p class="col-md-4">{{ sec1 }}</p>
          <p class="col-md-4">{{ sec2 }}</p>
          <p class="col-md-4">{{ sec3 }}</p>
        </div>
  
        <div class="row">
          <ul class=" col-xs-12 col-sm-6 col-md-4 col-lg-3 column-list ">
            <h3>Outline</h3>
            {{# outline }}
              <li> {{ . }} </li>
            {{/ outline }}
          </ul>
    
          <ul class=" col-xs-12 col-sm-6 col-md-4 col-lg-3 column-list ">
            <h3>Examples</h3>
            {{# examples }}
              <li> {{ . }} </li>
            {{/ examples }}
          </ul>
  
          <ul class=" col-xs-12 col-sm-6 col-md-4 col-lg-3 column-list ">
            <h3>Reading</h3>
            {{# reading }}
              <li> {{ . }} </li>
            {{/ reading }}
              <li><a href="{{urls.media}}/readingresponses/rr02-understandingcomics-ch4-ch6.pdf">Reading Response</a></li>
          </ul>
    
          <ul class=" col-xs-12 col-sm-6 col-md-4 col-lg-3 column-list ">
            <h3>Homework</h3>
            {{# homework }}
              <li> {{ . }} </li>
            {{/ homework }}
              <li><a href="{{urls.media}}/readingresponses/rr02-understandingcomics-ch4-ch6.pdf">Reading Response</a></li>
          </ul>
        </div>

        <div class="row add-top">
          <div class="col-md-6 col-lg-6"><p>For those of you looking for royalty free, safe to use sound effects and music, here are some options to look into:</p></div>
          <div class="col-md-6 col-lg-6 remove-top">{{{ content }}}</div>
        </div>        
      </section>
      {{/ courses.find_by_name.gd3/calendar/wk4 }}
      
      <!-- Wk5 -->
      {{# courses.find_by_name.gd3/calendar/wk5 }}
      <section class="">
        <h2>{{ title }}</h2>
        <div class="row">
          <p class="col-md-4">{{ sec1 }}</p>
          <p class="col-md-4">{{ sec2 }}</p>
          <p class="col-md-4">{{ sec3 }}</p>
        </div>
  
        {{# outline }}
          <ul>
            <li> {{ . }} </li>
          </ul>
        {{/ outline }}
        
      </section>
      {{/ courses.find_by_name.gd3/calendar/wk5 }}
  
      <!-- Wk6 -->
      {{# courses.find_by_name.gd3/calendar/wk6 }}
      <section class="">
        <h2>{{ title }}</h2>
        <div class="row">
          <p class="col-md-4">{{ sec1 }}</p>
          <p class="col-md-4">{{ sec2 }}</p>
          <p class="col-md-4">{{ sec3 }}</p>
        </div>
  
        {{# outline }}
          <ul>
            <li> {{ . }} </li>
          </ul>
        {{/ outline }}
        
      </section>
      {{/ courses.find_by_name.gd3/calendar/wk6 }}
      
      <!-- Wk7 -->
      {{# courses.find_by_name.gd3/calendar/wk7 }}
      <section class="">
        <h2>{{ title }}</h2>
        <div class="row">
          <p class="col-md-4">{{ sec1 }}</p>
          <p class="col-md-4">{{ sec2 }}</p>
          <p class="col-md-4">{{ sec3 }}</p>
        </div>
  
        {{# outline }}
          <ul>
            <li> {{ . }} </li>
          </ul>
        {{/ outline }}
        
      </section>
      {{/ courses.find_by_name.gd3/calendar/wk7 }}
      
      <!-- Wk8 -->
      {{# courses.find_by_name.gd3/calendar/wk8 }}
      <section class="">
        <h2>{{ title }}</h2>
        <div class="row">
          <p class="col-md-4">{{ sec1 }}</p>
          <p class="col-md-4">{{ sec2 }}</p>
          <p class="col-md-4">{{ sec3 }}</p>
        </div>
  
        {{# outline }}
          <ul>
            <li> {{ . }} </li>
          </ul>
        {{/ outline }}
        
      </section>
      {{/ courses.find_by_name.gd3/calendar/wk8 }}
      
      <!-- Wk9 -->
      {{# courses.find_by_name.gd3/calendar/wk9 }}
      <section class="">
        <h2>{{ title }}</h2>
        <div class="row">
          <p class="col-md-4">{{ sec1 }}</p>
          <p class="col-md-4">{{ sec2 }}</p>
          <p class="col-md-4">{{ sec3 }}</p>
        </div>
  
        {{# outline }}
          <ul>
            <li> {{ . }} </li>
          </ul>
        {{/ outline }}
        
      </section>
      {{/ courses.find_by_name.gd3/calendar/wk9 }}
      
      <!-- Wk10 -->
      {{# courses.find_by_name.gd3/calendar/wk10 }}
      <section class="">
        <h2>{{ title }}</h2>
        <div class="row">
          <p class="col-md-4">{{ sec1 }}</p>
          <p class="col-md-4">{{ sec2 }}</p>
          <p class="col-md-4">{{ sec3 }}</p>
        </div>
  
        {{# outline }}
          <ul>
            <li> {{ . }} </li>
          </ul>
        {{/ outline }}
        
      </section>
      {{/ courses.find_by_name.gd3/calendar/wk10 }}
      
      <!-- Wk11 -->
      {{# courses.find_by_name.gd3/calendar/wk11 }}
      <section class="">
        <h2>{{ title }}</h2>
        <div class="row">
          <p class="col-md-4">{{ sec1 }}</p>
          <p class="col-md-4">{{ sec2 }}</p>
          <p class="col-md-4">{{ sec3 }}</p>
        </div>
  
        {{# outline }}
          <ul>
            <li> {{ . }} </li>
          </ul>
        {{/ outline }}
        
      </section>
      {{/ courses.find_by_name.gd3/calendar/wk11 }}
      
      <!-- Wk12 -->
      {{# courses.find_by_name.gd3/calendar/wk12 }}
      <section class="">
        <h2>{{ title }}</h2>
        <div class="row">
          <p class="col-md-4">{{ sec1 }}</p>
          <p class="col-md-4">{{ sec2 }}</p>
          <p class="col-md-4">{{ sec3 }}</p>
        </div>
  
        {{# outline }}
          <ul>
            <li> {{ . }} </li>
          </ul>
        {{/ outline }}
        
      </section>
      {{/ courses.find_by_name.gd3/calendar/wk12 }}
  
      <!-- Wk13 -->
      {{# courses.find_by_name.gd3/calendar/wk13 }}
      <section class="">
        <h2>{{ title }}</h2>
        <div class="row">
          <p class="col-md-4">{{ sec1 }}</p>
          <p class="col-md-4">{{ sec2 }}</p>
          <p class="col-md-4">{{ sec3 }}</p>
        </div>
  
        {{# outline }}
          <ul>
            <li> {{ . }} </li>
          </ul>
        {{/ outline }}
        
      </section>
      {{/ courses.find_by_name.gd3/calendar/wk13 }}
  
      <!-- Wk14 -->
      {{# courses.find_by_name.gd3/calendar/wk14 }}
      <section class="">
        <h2>{{ title }}</h2>
        <div class="row">
          <p class="col-md-4">{{ sec1 }}</p>
          <p class="col-md-4">{{ sec2 }}</p>
          <p class="col-md-4">{{ sec3 }}</p>
        </div>
  
        {{# outline }}
          <ul>
            <li> {{ . }} </li>
          </ul>
        {{/ outline }}
        
      </section>
      {{/ courses.find_by_name.gd3/calendar/wk14 }}
  
      <!-- Wk15 -->
      {{# courses.find_by_name.gd3/calendar/wk15 }}
      <section class="">
        <h2>{{ title }}</h2>
        <div class="row">
          <p class="col-md-4">{{ sec1 }}</p>
          <p class="col-md-4">{{ sec2 }}</p>
          <p class="col-md-4">{{ sec3 }}</p>
        </div>
  
        {{# outline }}
          <ul>
            <li> {{ . }} </li>
          </ul>
        {{/ outline }}
        
      </section>
      {{/ courses.find_by_name.gd3/calendar/wk15 }}
  
      <!-- Wk16 -->
      {{# courses.find_by_name.gd3/calendar/wk16 }}
      <section class="">
        <h2>{{ title }}</h2>
        <div class="row">
          <p class="col-md-4">{{ sec1 }}</p>
          <p class="col-md-4">{{ sec2 }}</p>
          <p class="col-md-4">{{ sec3 }}</p>
        </div>
  
        {{# outline }}
          <ul>
            <li> {{ . }} </li>
          </ul>
        {{/ outline }}
        
      </section>
      {{/ courses.find_by_name.gd3/calendar/wk16 }}
  
    </article>
  </div>
</div>

