/* THIS IS A STYLE SHEET FOR COLUMNS*/
/* HOW TO WRITE A STYLE SHEET: general > specific*/
* {
    background:#09002C;
    text-align: left;
    font-family: "andale mono";
    font-size-adjust: auto;
    color: white
}

/* writing "artical *{" can be used to have a rule or set of rules apply to the whole article*/

h1{
    color: white;
    text-align: center
}

h2{
    font-family: "andale mono";
    text-align: center
}

h3 {
    font-size: 16px; 
    font-family: "arial"
}

ul {
    color: white;
    float: center;
    padding: 0;
    text-align: center;
    font-size: 14px
}
a:link {
    color:white;
}
a: visited {
    color: red;
}

li {
    display: inline-block
}
li a {
    display: block;
    padding: 10px
}

img {
    box-sizing: border-box;
    float: left;
    padding: 40px;
    max-width: 500px;
}


