h2 {
    color: black;
    font-size: 8em;
    transition: all 1100ms;
}

h2:hover {
    color: white;
    font-size: 16em;
    left: 2.6em;
    top: 1.2em;
    position:absolute;
}

.p1 {
    color: rgba(000,000,000,0);
    font-size: 0.6em;
    transition: all 800ms;
}

.p1:hover {
    color:black;
    font-size: 1em;
    left: 28em;
    top: 11em;
}

.p2 {
    color: rgba(000,000,000,0);
    font-size: 0.6em;
    transition: all 800ms;
}

.p2:hover {
    color:black;
    font-size: 1em;
    right:28.5em;
    top:30em;
}
