h3 {        color:black;
            transition: all 0.1s;}
h3:hover {  color:#e89805;
            font-size:3em;}
h3:active { color:darkred;}
/* for clicking*/


h4 {        color:black;
            transition: all 0.1s;}
h4:hover {  color:#e89805;
            font-size:3em;}
h4:active { color:darkred;}
/* for clicking*/


h5 {        color:black;
            transition: all 0.1s;}
h5:hover {  color:#e89805;
            font-size:3em;}
h5:active { color:darkred;}
/* for clicking*/


h6 {        color:black;
            transition: all 0.1s;}
h6:hover {  color:#e89805;
            font-size:3em;}
h6:active { color:darkred;}
/* for clicking*/


h7 {        color:black;
            transition: all 0.1s;}
h7:hover {  color:#e89805;
            font-size:3em;}
h7:active { color:darkred;}
/* for clicking*/


h8 {        color:black;
            transition: all 0.1s;}
h8:hover {  color:#e89805;
            font-size:3em;}
h8:active { color:darkred;}
/* for clicking*/




h9 {        color:black;
            transition: all 0.1s;}
h9:hover {  color:darkred;
            font-size:1.6em;}
h9:active { color:#e89805;}
/* for clicking*/


h10 {        color:black;
            transition: all 0.1s;}
h10:hover {  color:darkred;
            font-size:1.6em;}
h10:active { color:#e89805;}
/* for clicking*/


h11 {        color:black;
            transition: all 0.1s;}
h11:hover {  color:darkred;
            font-size:1.6em;}
h11:active { color:#e89805;}
/* for clicking*/


h12 {        color:black;
            transition: all 0.1s;}
h12:hover {  color:darkred;
            font-size:1.6em;}
h12:active { color:#e89805;}
/* for clicking*/


h13 {        color:black;
            transition: all 0.1s;}
h13:hover {  color:darkred;
            font-size:1.6em;}
h13:active { color:#e89805;}
/* for clicking*/


h14 {        color:black;
            transition: all 0.1s;}
h14:hover {  color:darkred;
            font-size:1.6em;}
h14:active { color:#e89805;}
/* for clicking*/







h19 {        transition: all 0.2s;}
h19:hover {  color:darkgray;
             font-size:2em;
             letter-spacing: 1.2em;
             top:71.1%;}


h20 {        transition: all 0.2s;}
h20:hover {  color:darkgray;
             font-size:2em;
             letter-spacing: 1.2em;
         }









h21 {        color:black;
            transition: all 0.1s;}
h21:hover {  color:darkred;
            font-size:1.6em;}
h21:active { color:#e89805;}
/* for clicking*/


h22 {        color:black;
            transition: all 0.1s;}
h22:hover {  color:darkred;
            font-size:1.6em;}
h22:active { color:#e89805;}
/* for clicking*/


h23 {        color:black;
            transition: all 0.1s;}
h23:hover {  color:darkred;
            font-size:1.6em;}
h23:active { color:#e89805;}
/* for clicking*/


h24 {        color:black;
            transition: all 0.1s;}
h24:hover {  color:darkred;
            font-size:1.6em;}
h24:active { color:#e89805;}
/* for clicking*/


h25 {        color:black;
            transition: all 0.1s;}
h25:hover {  color:darkred;
            font-size:1.6em;}
h25:active { color:#e89805;}
/* for clicking*/