*{
  box-sizing: border-box;
    position: center;
}
body{
    margin:0;
    font-family: 'Six Caps', sans-serif;
    background-color: MistyRose;
    color:firebrick;
    font-weight: normal;
    position:absolute;}
.span{
    font-family: serif;
    font-weight: 500;
        }
        
h1{
    font-family: "Helvetica Neue",Helvetica Arial, sans-serif;
    font-size:3em;
    position:absolute;
    top:7em;
    left:1em;
     font-weight: 600;
}
p1{
    font-size: 14em;
    position:absolute;
    top:1.7em;
    left:10%;
    font-weight: 600;
}
p2{
    font-family: "Helvetica Neue",Helvetica Arial, sans-serif;
    font-weight: 600;
    font-size:3em;
    position:absolute;
    top:13.5em;
    left:1em;   
    
}
p3{
    font-size:24em;
    color: black;
    position:absolute;
    top:0.7em;
    left:1.02em; 
    font-weight: 600;
    
}
p4{
    font-size:36em;
    color: black;
    position:absolute;
    top:0.2em;
    left:0.835em; 
     font-weight: 600;
}
p5{
    font-size: 48em;
    color: black;
    position:absolute;
    top:0px;
    left:0.8em; 
     font-weight: 600;
}
    
P6{
    font-size:36em;
    color: black;
    position:absolute;
    top:0.2em;
    left:1.38em; 
     font-weight: 600;
}
P7{
    font-size:24em;
    color: black;
    position:absolute;
    top:0.7em;
    left:2.425em; 
    font-weight: 600
    
}
P8{ 
    font-family: "Helvetica Neue",Helvetica Arial, sans-serif;
    font-size:3em;
    position:absolute;
    top:7.9em;
    left:21.55em;
    font-weight: 600;
}
p9{
    font-size: 14em;
    position:absolute;
    top:1.75em;
    left:4.65em;
    font-weight: 600;
}
P10{
    font-family: "Helvetica Neue",Helvetica Arial, sans-serif;
    font-weight: 600;
    font-size:3em;
    position:absolute;
    top:13.5em;
    left:27em; 
    text-align: right;
    
}